/*****************************/
/* Smartphone < 300px */
/*****************************/
@media(max-width:20em) {
  html {
    font-size: 53%;
  }
  .container {
    width: min(90rem,100%);
    padding: 0 1.5rem;
  }

}

/*****************************/
/* Tablets > 768px */
/*****************************/
@media(min-width:48rem) {

  .hero-imgs {
    grid-gap: 2rem;
    grid-auto-rows: 15rem 15rem;
  }
  .place-wrap {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
  }
  .pricing-wrap {
    grid-template-columns: 1fr 1fr;
  }
  .input-wrap,
  .input-group {
    width: 100%;
  }
  .cta-content {
    padding: 0 10rem;
  }
  .book-btn {
    width: 50%;
  }
  .service-box:last-child {
    grid-column: 2/3;
    transform: translateX(-50%);
  }
}


/*****************************/
/* Laptop > 924px */
/*****************************/
@media(min-width:57.75rem) {
  .nav-menu {
    display: none;
  }
  .nav-pc {
    display: flex;
  }
  .nav-list {
    gap: 2rem;
  }
  .nav-list-link {
    font-size: 1.3rem;
  }
  .hero {
    padding: 4rem 0;
    padding-top: 8rem;
  }
  .hero-wrap {
    display: flex;
    gap: 5rem;
    grid-template-columns: 1fr fr;
  }
  .col {
    flex: 1;
  }
  .col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero.active .hero-img-wrap:nth-child(1),
  .hero.active .hero-img-wrap:nth-child(3) {
    transform: translateX(0rem);
    opacity: 0;
  }
@keyframes fadeInLeft {
    0% {
      transform: translateX(0rem);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .container {
    width: min(85rem,90%);
  }
  .place-wrap {
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
  }
  .place-content {
    padding: 0 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .place-name {
    font-size: 1.8rem;
  }
  .service-wrap {
    grid-template-columns: repeat(3,1fr);
  }
  .service-box:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
    transform: translateX(0%);
  }
  .cta-content {
    padding: 0 20rem;
  }
  .pricing-wrap {

    grid-gap: 6rem;
  }
  .container-sm {
    width: min(80rem,90%);
  }
}